import:
  - source: QubesOS/qubes-continuous-integration:R4.0/travis-base-r4.0.yml
    mode: deep_merge_prepend
  - source: QubesOS/qubes-continuous-integration:R4.0/travis-dom0-r4.0.yml
  - source: QubesOS/qubes-continuous-integration:R4.0/travis-vms-r4.0.yml

jobs:
  include:
    - env:
       - ENABLE_SLOW_TESTS=1
      language: python
      python: '2.7'
      install:
       - pip install --quiet -r ci/requirements.txt
      script:
       - python setup.py build
       - cd build/lib; PYTHONPATH=../../test-packages pylint --rcfile=../../.pylintrc qubesadmin
       - cd build/lib; ROOTDIR=../.. ../../run-tests
      after_success:
       - codecov
    - env:
       - ENABLE_SLOW_TESTS=1
      language: python
      python: '3.5'
      install:
       - pip install --quiet -r ci/requirements.txt
      script:
       - python setup.py build
       - cd build/lib; PYTHONPATH=../../test-packages pylint --rcfile=../../.pylintrc qubesadmin
       - cd build/lib; ROOTDIR=../.. ../../run-tests
      after_success:
       - codecov
    - env:
       - ENABLE_SLOW_TESTS=1
      language: python
      python: '3.6'
      install:
       - pip install --quiet -r ci/requirements.txt
      script:
       - python setup.py build
       - cd build/lib; PYTHONPATH=../../test-packages pylint --rcfile=../../.pylintrc qubesadmin
       - cd build/lib; ROOTDIR=../.. ../../run-tests
      after_success:
       - codecov
    - env:
       - ENABLE_SLOW_TESTS=1
      language: python
      python: '3.7'
      install:
       - pip install --quiet -r ci/requirements.txt
      script:
       - python setup.py build
       - cd build/lib; PYTHONPATH=../../test-packages pylint --rcfile=../../.pylintrc qubesadmin
       - cd build/lib; ROOTDIR=../.. ../../run-tests
      after_success:
       - codecov
    - env:
       - ENABLE_SLOW_TESTS=1
      language: python
      python: '3.8'
      install:
       - pip install --quiet -r ci/requirements.txt
      script:
       - python setup.py build
       - cd build/lib; PYTHONPATH=../../test-packages pylint --rcfile=../../.pylintrc qubesadmin
       - cd build/lib; ROOTDIR=../.. ../../run-tests
      after_success:
       - codecov
    - stage: deploy
      env: DIST_DOM0=fc25
      script:
       - ~/qubes-builder/scripts/travis-deploy
