Source: qubes-core-admin-client
Section: admin
Priority: optional
Maintainer: Marek Marczykowski-Górecki <marmarek@invisiblethingslab.com>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python3-all,
 python3-all,
 python3-setuptools,
 python3-sphinx,
 python3-docutils,
 python3-dbus,
 python3-lxml,
 python3-tqdm,
 python3-yaml,
Standards-Version: 3.9.5
Homepage: https://www.qubes-os.org/
#Vcs-Git: git://github.com/QubesOS/qubes-core-admin-client.git
#Vcs-Browser: https://github.com/QubesOS/qubes-core-admin-client
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.8

Package: qubes-core-admin-client
Architecture: any
Depends:
 python3-qubesadmin,
 qubes-repo-templates,
 scrypt,
 qubes-rpm-oxide (>= 0.2.3),
 ${python:Depends},
 ${python3:Depends},
 ${misc:Depends},
Conflicts:
 qubes-core-agent (<< 4.1.9),
 qubes-gui-daemon (<< 4.1.7),
Description: Qubes administrative tools
 Tools to manage Qubes system using Admin API

Package: python3-qubesadmin
Architecture: any
Depends:
 python3-docutils,
 python3-lxml,
 python3-qubesdb,
 python3-rpm,
 python3-tqdm,
 ${python3:Depends},
Description: Python 3 bindings for Qubes Admin API
 Python 3 client side module for Qubes Admin API
