#!/usr/bin/make -f

export PYBUILD_NAME = qubesadmin
export PYBUILD_INSTALL_ARGS = --install-layout=deb
export DESTDIR=$(CURDIR)/debian/tmp

%:
	dh $@ --buildsystem=pybuild --with python3

override_dh_auto_build: export http_proxy=127.0.0.1:9
override_dh_auto_build: export https_proxy=127.0.0.1:9
override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C doc PYTHON=python3 SPHINXBUILD=sphinx-build man html

override_dh_auto_install:
	dh_auto_install
	$(MAKE) install-misc
	install -d debian/tmp/usr/share/man/man1
	install -m 0644 doc/_build/man/* debian/tmp/usr/share/man/man1/
	mv debian/python3-qubesadmin/usr/bin/* debian/tmp/usr/bin/

override_dh_missing:
	dh_missing --fail-missing
